# EditorConfig is awesome: https://EditorConfig.org

# Остальные настройки прописаны в .vscode/settings.json
# Общие настройки для всех файлов
root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Настройки для Python файлов
[*.py]
max_line_length = 88  # Соответствует PEP 8

# Настройки для Dockerfile
[Dockerfile]
indent_size = 4

# Настройки для YAML файлов (например, docker-compose.yml)
[*.{yml,yaml}]
indent_size = 2

# Настройки для YAML файлов (например, docker-compose.yml)
[*.{sh,zsh}]
end_of_line = lf

# Настройки для Markdown файлов (например, README.md)
[*.md]
trim_trailing_whitespace = false  # В Markdown пробелы в конце строки могут быть значимыми

# Настройки для JSON файлов
[*.json]
indent_size = 2

# Настройки для Git-игнорируемых файлов
[.gitignore]
indent_style = space
indent_size = 2
